/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(53, 115, 174);
}

body {
  display: grid;
  grid-template-areas:
  "cab cab"
  "sec pri"
  "rod rod";
  grid-gap: 5px;
  grid-template-columns: 22% auto;
  grid-template-rows: auto 1000px;
}

header {
  grid-area: cab;
}

aside {
  grid-area: sec;
}

main {
  grid-area: pri;
}

footer {
  grid-area: rod;
}

.caixa.mamãe {
  max-width: 1300px;
  margin: 0 auto;
  padding: 25px;
}

header {
  background-color: rgb(12, 65, 115);
  color: rgb(53, 115, 174);
  padding: 25px;
}

.header-cabeça {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 46px;
}

nav ul {
  list-style-type: none;

}

nav ul li {
  display: inline;
  margin-right: 23px;
  border-bottom: 5px rgb(0, 121, 187);
  transition: 1s;
}

nav ul li a {
  color: rgb(53, 115, 174);
  text-decoration: none;
}

main {
  padding: 23px;
}

h2 {
  margin-bottom: 23px;
}

.produto-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 23px;
}

.produto {
  background-color: rgb(87, 151, 210);
  padding: 32px;
  border-radius: 69px;
  text-align: center;
  transition: transform 0.2s ease;
  box-shadow: 3px 6px 11px rgb(5, 41, 73);
}

.produto:hover {
  transform: translateY(-5px);
}

.produto img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.produto h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 21px;
}

.produto p.descrição {
  margin-bottom: 10px;
  font-size: 17px;
}

.produto p.preço {
  margin: 0;
  font-size: 19px;
}

main img {
  height: 300px;
  width: 400px;
  border-radius: 15px;
}

.logo {
  height: 123px;
  margin-right: 123px;
}

.butão {
  width: 150px;
  height: 10px;
  display: flex;
  justify-content: center;
  background-color: rgb(53, 115, 174);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 3px 6px 11px rgb(5, 41, 73);
  text-decoration: none;
  color: rgb(53, 115, 174);
}